@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap");
* {
  font-family: "Space Grotesk", sans-serif;
  --linear-gradient-active: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --red-error: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  font-size: 18px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.form {
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  left: 250px;
  border: 2px solid red;
  height: 100vh;
}

.container-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.btn {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--very-dark-violet);
  letter-spacing: 3px;
  cursor: pointer;
  margin-top: 1rem;
}
.card-front {
  position: relative;
  background-image: url(./images/bg-card-front.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 450px;
  height: 250px;
  border: 2px solid red;
  top: -710px;
  left: 150px;
}
.card-front-number {
  position: relative;
  top: 130px;
  left: 50px;
  font-size: 30px;
  color: var(--white);
}

.card-back {
  position: relative;
  top: -650px;
  left: 250px;
}
.left {
}
